@import './_mediaQueries.scss';

.main {
  .nav {
    margin: 3rem 0;
    
    select,
    button {
      font-size: .75rem;
    }

    .rightCol {
      text-align: right;
      
      select {
        float: right;
        max-width: 200px;
        outline: none !important;
        box-shadow: none;
        background: #f8f9fa url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
        background-size: 8px 10px;
        -webkit-appearance:none;
        border: none;
      }
  

    }

    @include tablet {
      select,
      button {
        font-size: 1rem;
      }  
    }
  }
}