.recordingCard {
  min-height: 100px;
  margin: 2rem 0;

  .rightCol {
    text-align: right;

    .postedOn {
      color: #c0c0c0;
      font-size: 0.8rem;
    }
  }

  .staticMapWpr {
    margin-right: 0;
  }


  .staticMap {
    margin-top: 2rem;
    width: 100%;
    padding-right: 0;
    min-height: 200px;
    background: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
  
    &::before {
      position: absolute;
      content: url(https://s3.amazonaws.com/9trails-gpx/general/loading_spinner.gif);
      transform: scale(.25);
      display: block;
    }

    img {
      width: 100%;
      height: auto;
      z-index: 1;
    }

  }
}