.submitForm {
  min-height: 100px;
  margin: 2rem 0;
  animation: fadeIn 1s ease-in-out;
  padding-bottom: 5rem;
  border-bottom: 1px solid #d5d5d5;

  .header {
    margin-top: -2rem;
  }


  .successBox {
    padding: 1rem;
    background-color: #c7f2c9;
    color: #016f1b;
    margin-bottom: 1rem;
    font-size: .8rem;
  }

  .errorBox {
    padding: 1rem;
    background-color: #fff4f4;
    color: #ff0000;
    margin-bottom: 1rem;
    font-size: .8rem;
  }

  button,
  select, 
  .formInput {
    margin-bottom: 1rem 0;
  }

  select {
    background: #f8f9fa url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
    background-size: 8px 10px;
    -webkit-appearance:none;
  }

  button {
    margin-right: 1rem;
  }


  textarea {
    margin: 1rem 0;
    height: 150px;
  }

  label,
  .formInput {
    background-color: #f8f9fa;
    border: none;
  }

  .ranking {
    font-size: 1.2rem;
    margin: 1rem 0;
  }


  .userInfo {
    text-align: center;
    font-size: 0.8rem;
    .name {
      color: #333;
      margin: .5rem 0;
    }

    .joined {
      color: #c0c0c0;
      font-size: 0.8em;
    }
  }
  .comment {
    font-size: .9rem;
    text-transform: capitalize;
  }

  .rightCol {
    text-align: right;
    padding-left: 2rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}